<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>New App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="470173018140-0q2v9hmimvk5s3ffauk5ammlhp71j4ar.apps.googleusercontent.com">

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>