<div class="row">
	<div class="col-md-8 col-md-offset-2 auth-box">
		<div class="row">
			<ul class="nav col-md-offset-2 nav-pills">
				<li class="nav-item col-md-2" routerLinkActive="active"><a class="nav-link" [routerLink]="['signin']">SignIn</a></li>
				<div class="col-md-1" style="font-size: 3rem; padding-left:4%">|</div>
				<li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['signup']">Register</a></li>
			</ul>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>