body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: rgba(219, 219, 219, 0.89);*/
}

a {
  color: #00B7FF;
}

.bg-new {
	/*background: linear-gradient(to right, #a5f7ff, #03aeff);*/
	background: radial-gradient(#a5f7ff 38%, #03aeff);
}
